/* full site css */
h1, h3{
  font-family:monospace;
}
/* Sidebar */
#sidebar-wrapper{
    z-index:1;
    position: absolute;
    width:25%;
    height:100%;
    overflow-y:hidden;
    background: #4A5F7F;
    opacity:0.9;
      transition:all .5s;
      display:flex;
      align-items:center;
  }
  
  /* Main Content */
  #page-content-wrapper{
    width: 75%;
    height:100%	;
    margin-left: 25%;
    position: absolute;
    transition:all .5s;
    background-color: #EEDBD1;
  }
  
  /* Change the width of the sidebar to display it*/
  #wrapper.menuDisplayed #sidebar-wrapper{
    width: 100%;
  }
  
  /* #wrapper.menuDisplayed #page-content-wrapper{
    padding-left:0px;
  } */
  
  /* Sidebar styling */
  .sidebar-nav{
    padding:0;
    list-style:none; 
      transition:all .5s;
      width:100%;
      text-align:center;
  }
  
  .sidebar-nav li{
    line-height:40px;  
      width:100%;
      transition:all .3s;
      padding:10px;
  }
  
  .sidebar-nav li a {
    display:block;
    text-decoration:none;
    color:#ddd;
  }
  
  .sidebar-nav li:hover{
    background: #324049;
  }

.fa-github{
  position: absolute;
  bottom: 0px;
  left:0px;
  padding: 1%;
  color: #324049;
}

.fa-linkedin{
  position:absolute;
  bottom: 75px;
  left: 0px;
  padding-left:1%;
  color: #324049;

}
